.link {
  display: flex;
  height: 100px;
  text-align: center;
  padding: 15px;
  font-family: "Prosto One", cursive;
}

.navi {
  display: flex;
  height: fit-content;
  text-align: center;
  font-family: "Prosto One", cursive;
  line-height: 30px;
  margin-right: 20px;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  color: tomato;
  transition-duration: 0.5s;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 1024px) {
  .button {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .button {
    width: 100px;
    height: 100px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
  }

  .menu {
    display: none;
  }
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Prosto One", cursive;
}
