body {
  font-family: "Prosto One", cursive;
}

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  padding: 15px;
}

.navi {
  display: flex;
  height: fit-content;
  text-align: center;
  line-height: 30px;
  margin-right: 20px;
  flex-direction: column;
}

.button {
  display: none;
}

.button_img {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: tomato;
  transition-duration: 0.5s;
}

h1 {
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 1024px) {
  .button {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .button_img {
    display: flex;
    width: 100px;
    height: 100px;
  }

  .menu {
    display: none;
  }

  .a:hover {
    display: none;
  }
}
