body {
  font-family: "Prosto One", cursive;
}

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 15px;
  text-decoration: none;
}

.button {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.button_img {
  display: flex;
  width: 100px;
  height: 100px;
}

.menu {
  display: none;
}

h1 {
  text-align: center;
  font-size: 30px;
}

@media only screen and (min-width: 1024px) {
  .menu {
    display: flex;
    height: fit-content;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    transition-duration: 0.5s;
  }

  a:hover {
    color: tomato;
  }

  .button {
    display: none;
  }

  .button_img {
    display: none;
  }
}
